version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    networks:
      - mynetwork

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_AUTO_SERVER_ADD: 'True'
      PGADMIN_CONFIG_SERVERS: |
        {
          "Servers": {
            "1": {
              "Name": "PostgreSQL",
              "Group": "Servers",
              "Host": "postgres",
              "Port": 5432,
              "Username": "user",
              "Password": "password",
              "SSLMode": "prefer"
            }
          }
        }
    ports:
      - "5050:80"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
